<div class="">
	<div class="aHl"></div>
	<div id=":18x" tabindex="-1"></div>
	<div id=":18m" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
		<div id=":18l" class="a3s aiL msg1204140947228888048">
			<u></u>
			<div style="margin:0;padding:0;min-width:100%;background-color:#ffffff">
				<center style="width:100%;table-layout:fixed">
					<div style="max-width:592px">
						<table id="m_1204140947228888048main" style="margin:0 auto;width:592px" role="presentation" cellspacing="0" cellpadding="0" border="0" align="center">
							<tbody>
								<tr>
									<td id="m_1204140947228888048header" style="padding:0 0 0 59px;font-size:0" bgcolor="#000000">
										<table style="width:100%" cellspacing="0" cellpadding="0" border="0">
											<tbody>
												<tr>
													<td style="font-size:0;text-align:left">
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td id="m_1204140947228888048copy" style="padding:15px 59px 21px;color:#232f3e;font-family:Arial,sans-serif;font-size:12px;line-height:22px;text-align:left">
										<h1 style="margin:30px 0;font-weight:bold;font-size:18px;line-height:24px;text-align:center">Your verification code</h1>
										<p style="margin:0px">
											Hello, {{.Name}}
										</p>
                                        <p style="margin:0px">
											Please enter the following code to verify your account:
										</p>
										<div aria-label="confirmation code" style="margin:30px 0;font-weight:bold;font-size:18px;line-height:18px">{{.Code}}</div>
										<p>This code will be active for 30 minutes. If it has expired you can request a new code from the verification page.</p>
										<p style="margin:0px">&nbsp;</p>
									</td>
								</tr>
								<tr>
									<td id="m_1204140947228888048footer" style="padding:18px 59px 17px;font-size:0" bgcolor="#1d1e20">
										<table style="width:100%" cellspacing="0" cellpadding="0" border="0">
											<tbody>
												<tr>
													<td style="font-size:0;text-align:left">
														<table style="display:inline-table" cellspacing="0" cellpadding="0" border="0">
{#															<tbody>
{#															</tbody>#}
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</center>
				<div class="yj6qo"></div>
				<div class="adL"></div>
			</div>
			<div class="adL"></div>
		</div>
	</div>
	<div id=":190" class="ii gt" style="display:none"><div id=":191" class="a3s aiL"></div></div>
	<div class="hi"></div>
</div>
